_minted*/

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

code/*.*
!code/README.md
code/out/*
!code/out/README.md

tasks/*
!tasks/README.md
!tasks/example.tex

variables.tex
!example/variables.tex

*.pdf
!example/exampleOutput.pdf
